<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fleur+De+Leah&family=Montez&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <h1 class="text-capitalize text-center pt-2" id="wineHomeHeader"><%= name %></h1>
        </div>
        <nav class="nav justify-content-center">
                <a href="/" class="nav-link wine-link text-capitalize">home</a>
                <a href="/red-wines" class="nav-link wine-link text-capitalize">red wines</a>
                <a href="/white-wines" class="nav-link wine-link text-capitalize">white wines</a>
                <a href="/sparkling-wines" class="nav-link wine-link text-capitalize">sparkling wines</a> 
                <a href="/rose-wines" class="nav-link wine-link text-capitalize">rose wines</a>
                <a href="/dessert-wines" class="nav-link wine-link text-capitalize">dessert wines</a>
                <a href="/port-wines" class="nav-link wine-link text-capitalize">port wines</a>
        </nav>
    </header>