<%- include('../partials/header') %>
    <main class="main" id="main">
        <div class="container">
            <div class="row">
                    <img src="/images/wine.gif" alt="wine" class="img-fluid w-75 wine-image">
            </div>
        </div>
    </main>

<%- include('../partials/footer') %>